<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <title>Document</title>

</head>
<body>

     <div class="container">
        <div class = "item item1">
            <h1>WTA Statistics</h1>
        </div>
        <div class = "item item2">
            <p>Welcome to WTA Statistics, a web app I created to help me compare the statistics of WTA players between 2020-2024. </p>
            <p>The graphs are created from match data which has been analysed using pandas, and contains players who have played more than 50 matches in that 5 year period.</p>
        </div>

        <div class = "item item3">
            <form action="/" method="post">
                    <label for="types">Graph:</label><br>
                    <select name="types" id="types">
                    <option value="serving">Best WTA Servers</option>
                    </select><br><br>
                    <input type="submit" value="Generate graph">
                </form>
                <br>
            {{ graph_html | safe }}
        </div>
    </div>

</body>
</html>
    